/* Header/Logo Title */
html {
  scroll-behavior: smooth;
}
body{
  background-color: black;
}
footer {
    margin:auto;
    text-align: center;
    position: fixed;
    bottom:0%;
}
a{
  font-size:40px;
  color:white;
  text-decoration: none;
  display:block;
}
.header {
  padding: 60px;
  text-align: center;
  background-image: url(images/cosBanner.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 40px;
}
h1 {
  font-family: "Apple Chancery", cursive;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 20px #4e0082;
}
h3 {
  font-family:"American Typewriter", serif;
  margin-left:10%;
  font-size:40px;
  font-weight: bold;
  color: white;
}
h4{
  font-size:35px;
  color:white;
}
p{
  font-size:30px;
  color:white;
}
li{
  font-size:30px;
  color:white;
}
#subTitle {
  font-family: "Apple Chancery", cursive;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 20px #4e0082;
}
#timeline{
  height:auto;
  width: 100%;
}
table, th, td {
  border: 10px solid black;
}
td, th {
  background-color: #5c246b;
}
table {
  margin-left: auto;
  margin-right:auto;
  border-collapse: collapse;
  width: 50%;
}
td {
  text-align: center;
  padding:10px;
}
td:hover {
  background-color: #713382;
  padding:15px;
}
.content{
  background-color: #4d3163;
  border-radius:20px;
  padding:10px;
  width:30%;
  height:auto;
  text-align:center;
  border-width:10px;
}
