/* Header/Logo Title */
html {
  scroll-behavior: smooth;
}
body{
  background-color: black;
}
footer {
    text-align: center;
}
a{
  font-size:40px;
  color:white;
  text-decoration: none;
  display:block;
}
.header {
  padding: 60px;
  text-align: center;
  background-image: url(images/cosBanner.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 40px;
}
h1 {
  font-family: "Apple Chancery", cursive;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 20px #4e0082;
}
h3 {
  font-family:"American Typewriter", serif;
  margin-left:10%;
  font-size:40px;
  font-weight: bold;
  color: white;
}
h4{
  font-size:35px;
  color:white;
}
p{
  font-size:35px;
  color:white;
}
#subTitle {
  font-family: "Apple Chancery", cursive;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 20px #4e0082;
}
nav * table, td {
  border: 10px solid black;
}
nav * td, th {
  background-color: #D43195;
}
#navTable {
  margin-left: auto;
  margin-right:auto;
  border-collapse: collapse;
  width: 50%;
}
nav * td {
  text-align: center;
  padding:10px;
  border-radius:10%;
}
nav * td:hover {
  background-color: #e053aa;
  padding:15px;
}
#optionTable {
  margin-left: auto;
  margin-right:auto;
}
article * td {
  width:50%;
  background-color: rgba(129, 76, 140, .9);
  border-radius:20%;
  padding:10px;
  height:auto;
  text-align:center;
  border: 10px solid transparent;
}
#prices{
  margin-left: auto;
  margin-right:auto;
  background-color:#f7baed;
  color:black;
  border-radius:50%;
  text-align:center;
  width:30%;
  padding:15px;
}
.dContainer{
  display:inline-block;
  width:40%;
  text-align:center;
}
.pContainer{
  display:inline-block;
  width:40%;
  text-align:center;
}
#msP{
  width:40%;
  height:auto;
}
.optContainer{
  background-image: url(images/roomImg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#snow-container {  
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 500ms;
  width: 100%;
}
.snow {
  animation: fall ease-in infinite, sway ease-in-out infinite;
  color: skyblue;
  position: absolute;
}
@keyframes fall {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 1;
  }
}
@keyframes sway {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 50px;
  }
  50% {
    margin-left: -50px;
  }
  75% {
    margin-left: 50px;
  }
  100% {
    margin-left: 0;
  }
}
#snowman{
  position: fixed;
  bottom: 0;
  right: 0;
  width:5%;
  height:auto;
}
