/* Header/Logo Title */
body{
  background-color: #c9c9c9;
}
.header {
  padding: 60px;
  text-align: center;
  background-image: url(images/cosBanner.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 30px;
}
h1 {
  font-family: "Apple Chancery", cursive;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 20px #913aab;
}
#subTitle {
  font-family: "Apple Chancery", cursive;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 20px #913aab;
}
#timeline{
  background-image: url(images/timelineHolder.png);
  background-repeat: no-repeat;
  background-size: cover;
}

