/* Header/Logo Title */
html {
  scroll-behavior: smooth;
}
body{
  background-color: black;
}
footer {
  text-align: center;
}
a{
  font-size:20px;
  color:white;
  text-decoration: none;
  display:block;
}
.header {
  padding: 60px;
  text-align: center;
  background-image: url(images/cosBanner.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 30px;
}
h1 {
  font-family: "Apple Chancery", cursive;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 20px #4e0082;
}
h3 {
  font-family:"American Typewriter", serif;
  margin-left:10%;
  font-size:30px;
  font-weight: bold;
  color:white;
}
h4{
  font-size:25px;
  color:white;
}
p{
  font-size:20px;
  color:white;
}
li{
  font-size:20px;
  color:white;
}
#subTitle {
  font-family: "Apple Chancery", cursive;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 20px #4e0082;
}
nav * table, td {
  border: 10px solid black;
}
nav * td, th {
  background-color: #D43195;
}
#navTable {
  margin-left: auto;
  margin-right:auto;
  border-collapse: collapse;
  width: 50%;
}
nav * td {
  text-align: center;
  padding:10px;
  border-radius:15%;
}
nav * td:hover {
  background-color: #e053aa;
  padding:15px;
}
#optionTable {
  margin-left: auto;
  margin-right:auto;
}
article * td {
  width:20vw;
  background-color: rgba(129, 76, 140, .9);
  border-radius:20%;
  padding:10px;
  height:auto;
  text-align:center;
  border: 20px transparent;
}
#prices{
  margin-left: auto;
  margin-right:auto;
  background-color:#f7baed;
  color:black;
  border-radius:100%;
  text-align:center;
  width:30%;
  padding:10px;
}
.dContainer{
  display:inline-block;
  width:40%;
  text-align:center;
}
.pContainer{
  display:inline-block;
  width:40%;
  text-align:center;
}
#msP{
  width:50%;
  height:auto;
}
#msD{
  width:50%;
  height:auto;
}
.optContainer{
  background-image: url(images/roomImg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; 
}
.teach{
  margin: auto;
}
#venmo{
  display:inline-block;
}
.priceContainer{
  display:inline-block;
}
